# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules
.next
frontend/out

# Environments
.env
.venv
env/
venv/
.env.*
!.env.*.example

# VS Code
.vscode/
*.code-workspace
